.bg-custom {
    background-color: black !important;
}

.name {
    font-size: 500% !important;
    margin-top: 15% !important;
    color: white !important;
    font-family: 'Press Start 2P' !important;

    transition-property: margin-top, font-size !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: 1.5s !important;
}

.name-transformed-state {
    margin-top: 3% !important;
    font-size: 200% !important;
    transition-property: margin-top, font-size !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: 1.5s !important;
}

@media only screen and (max-width: 700px) {
    .name {
        font-size: 300% !important;
        margin-top: 50% !important;
    }
}

.links {
    font-size: 170% !important;
    font-family: 'Press Start 2P' !important;
    margin: 10px 30px !important;
    color: black !important;
    cursor: pointer !important;
    
    transition-property: color, font-size !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: 1.5s !important;
}

.links-transformed-state-1 {
    color: white !important;
    font-size: 170% !important;
    transition-property: color, font-size !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: 1.5s !important;
}

.links-transformed-state-2 {
    color: white !important;
    font-size: 100% !important;
    transition-property: color, font-size !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: 1.5s !important;
}

section {
    font-family: monospace !important;
    font-size: 200% !important;
}

ul {
    list-style-type: none !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    box-sizing: border-box;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }